/* !boiler plate! */
:root {
  --nav-color: black;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}

/* !Nav Styles! */

header {
  width: 100vw;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  top: 0;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
#logo-container {
  display: flex;
  gap: 1rem;
}
#logo-container:hover {
  cursor: pointer;
}
#logo-container i {
  color: orange;
  font-size: 4rem;
}
#logo-container h2 {
  font-size: 2rem;
  margin-top: 15px;
  font-family: sans-serif;
}
header ul {
  display: flex;
  gap: 3rem;
  margin-right: 10rem;
  margin-top: 1rem;
}
header li {
  font-style: none;
  list-style: none;
  font-size: 1.3rem;
  height: 30px;
  text-decoration: none;
  padding-bottom: 2rem;
}
header a {
  text-decoration: none;
  color: black;
}
header li:hover {
  border-bottom: 5px solid orange;
  cursor: pointer;
}
#nav-button-container {
  display: flex;
  gap: 2rem;
  margin-right: 8rem;
}
#nav-button-container button {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  width: 130px;
  height: 50px;
  border-radius: 30px;
  font-size: 1rem;
  margin-top: 2px;
  transition: all 0.2s ease;
}
#nav-button-container button:hover {
  background-color: orange;
  color: white;
  border-color: white;
}
#nav-button-container i {
  font-size: 2rem;
  margin-top: 10px;
  height: 40px;
}
#nav-button-container i:hover {
  color: orange;
}
.active {
  border-bottom: 5px solid orange;
}
.full {
  color: orange;
}
header .change {
  background-color: orange;
  color: white;
  border-color: white;
}
.unchanged {
  background-color: white;
  border: 1px solid black;
}
/* !Shop Component Styles! */

/* page 1 */
#shop-first-page {
  display: flex;
  justify-content: space-around;
}
#shop-first-page i {
  position: relative;
  top: 5px;
}
#shop-first-page #first-page-shop-text {
  margin-top: 10rem;
}
#shop-first-page #first-page-shop-text h2 {
  font-size: 5rem;
  margin-bottom: 2rem;
}
#shop-first-page button {
  padding: 1.5rem;
  font-size: 2rem;
  color: white;
  background-color: orange;
  border: none;
  border-radius: 40px;
  filter: brightness(100%);
}
#shop-first-page button:hover {
  filter: brightness(110%);
}
#shop-first-page img {
  height: 800px;
  margin-top: 1rem;
}
.orange-bold {
  font-weight: 700;
  color: orange;
}
.page {
  width: 100%;
  height: 100vh;
}
#shop-first-page a {
  text-decoration: none;
  color: white;
}

/* page 2 */

#shop-second-page {
  text-align: center;
}
#shop-second-page hr {
  width: 200px;
  margin: 0 auto;
  border: 2px solid orange;
}
.item-container {
  width: 100%;
  height: auto;
  display: flex;
  gap: 3rem;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3rem auto;
  justify-content: center;
}
.item img {
  width: 350px;
  height: 450px;
}
.item {
  transition: all 0.2s ease;
}
.item:hover {
  scale: 110%;
}
.item span {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.item .initial-price {
  text-decoration: line-through;
  color: gray;
}
.item .sale-price {
  font-weight: 500;
}

/* page 3 */
#shop-third-page {
  text-align: center;
  scroll-behavior: auto;
}
#shop-third-page hr {
  width: 200px;
  margin: 0 auto;
  border: 2px solid orange;
}
.showing-less {
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 30px;
  color: black;
  background-color: white;
  margin-bottom: 2rem;
  transition: all 0.5s ease;
}
.showing-more {
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 30px;
  margin-bottom: 2rem;
  transition: all 0.5s ease;
  color: white;
  background-color: orange;
}
#show-more-button:hover {
  color: white;
  background-color: orange;
}
/* page 4 */
#shop-fourth-page {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  background-color: #ffb71c;
  text-align: left;
  color: white;
  margin: 0 auto 5rem auto;
  padding: 0 2rem 0 0;
}
#shop-text-div {
  margin-top: 4rem;
}
.large{
  font-size: 10rem;
}

/* !Login Component Styles! */

#login-div,
#sign-in-div {
  width: 600px;
  height: auto;
  margin: 2rem auto;
  padding: 4rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
#login-div input,
#sign-in-div input {
  display: block;
  margin: 2.5rem 0;
  width: 100%;
  padding: 1rem;
}

#login-div button,
#sign-in-div button {
  width: 100%;
  padding: 0.7rem;
  font-size: 1.2rem;
  background-color: orange;
  color: white;
  border: none;
  margin-bottom: 1rem;
  filter: brightness(100%);
}

#login-div button:hover,
#sign-in-div button:hover {
  filter: brightness(110%);
}
#login-div input[type="checkbox"],
#sign-in-div input[type="checkbox"] {
  width: 10px;
  margin-right: 1rem;
  display: inline-block;
  scale: 150%;
}
#login-div a,
#sign-in-div a {
  text-decoration: none;
  color: orange;
  font-weight: 700;
}

/* !Footer! */

footer {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  height: 12vh;
}

#footer-icons{
  display: flex;
  justify-content: space-between;
  font-size: 2.2rem;
  gap: 2rem;
}
#footer-icons i{
  transition: all .2s ease;
}
#footer-icons i:hover{
  color: orange;
  scale: 110%;
}
footer a{
  color: white;
  text-decoration: none;

}
/* Men */

.p-dropdown-div{
  display: flex;
  justify-content: space-between;
  padding: 0 11rem;
  margin-top: 2rem;
}
select{
  padding: 0 .5rem;
  border-radius: 10px;

}
.item-container a {
  text-decoration: none;
  color: black; 
}
