@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

@media (max-width:1100px) {
    #cover-img{
        display: none;
    }
}
@media (min-width:900px) {
    #nav-links-toggle{
        display: none;
    }
    #nav-hamburger{
        display: none;
    }
}
@media (max-width:900px) {
    #shop-it-nav-text{
        display: none;
    }
    #shop-it-logo{
        display: none;
    }
    #cart-and-login{
        display: none;
    }
    footer{
        flex-direction: column;
    }
    #nav-links{
        display: none;
    }
    #showing{
        display: none;
    }
    .select-container{
        flex-direction: column;
    }
}

